@inherits LayoutComponentBase
@implements IDisposable

<PageTitle>Platform.Application</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="me-3">Роль: <b>@UserContextService.Current.Role</b></span>
            <span>ID: <b>@FormatUserId(UserContextService.Current.UserId)</b></span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    public IUserContextService UserContextService { get; set; } = default!;

    protected override void OnInitialized()
    {
        UserContextService.OnChanged += HandleUserContextChanged;
    }

    private void HandleUserContextChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private static string FormatUserId(Guid? userId) =>
        userId?.ToString() ?? "не задан";

    public void Dispose()
    {
        UserContextService.OnChanged -= HandleUserContextChanged;
    }
}
